{% extends 'base.html' %}
{% block title %} Recipes {% endblock %}

{% block content %}
<h1 class="display-5">Add Your Recipes</h1>

<form method="POST" action="{{ url_for('show_recipes') }}" enctype="multipart/form-data">
    
    {{ form.hidden_tag() }}

    <div class="my-recipes-form-container">
        <label for="recipe_name">Name Of The Recipe:</label>
        {{ form.recipe_name(class="form-control", placeholder="Enter recipe name") }}
        {% if form.recipe_name.errors %}
            <p style="color: red;">{{ form.recipe_name.errors[0] }}</p>
        {% endif %}
        <br>

        <label for="text">Ingredients:</label>
        {{ form.text(class="form-control", placeholder="Enter ingredients", style="height:100px, cols=90, rows=10") }}
        {% if form.text.errors %}
            <p style="color: red;">{{ form.text.errors[0] }}</p>
        {% endif %}
        <br>

        <label for="image">Recipe Image:</label>
        {{ form.image(class="form-control-file") }}
        {% if form.image.errors %}
            <p style="color: red;">{{ form.image.errors[0] }}</p>
        {% endif %}
        <br>

        <button class="btn btn-success" type="submit">Post</button>
    </div>

</form>

<!-- OUTPUT -->
<div class="my-recipes-container">
    {% for recipe in recipes %}
    <div class="my-recipes-card">
        {% if recipe.image %}
        <img src="{{ url_for('static', filename=recipe.image) }}" alt="{{ recipe.name }} Photo" style="max-width: 250px;">
        <hr>
        {% else %}
        <p>No image available</p>
        <hr>
        {% endif %}
    
        <h4>{{recipe.recipe_name}} </h4> by <b> {{recipe.user.username}}</b> 
        <div>
            {{recipe.text}}
        </div>
        
        <hr>
        <form method="POST" action="{{ url_for('toggle_favorite', id=recipe.id) }}">
            {% if recipe.is_favorite %}
                <button type="submit" class="btn-remove-fav btn-sm btn-warning" name="action" value="remove_favorite">Remove from Favorites</button>
            {% else %}
                <button type="submit" class="btn-fav btn-sm btn-primary" name="action" value="add_favorite">Add to Favorites</button>
            {% endif %}
        </form>
        {% if session['user_id'] == recipe.user_id %}
        <form style="display: inline;" action="/my_recipes/{{recipe.id}}"  method='POST'>
            <button class="btn-fav btn-sm btn-danger">Remove</button>
        </form>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% endblock %}